<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-table"></i> Price Look-Up
</h2>
<div><% if @suppliers.present? %>Updated at <%= @suppliers.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
</div>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
          <%= render 'shared/search_form', {controller: "price_lookups"} %>
            <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                  <tr>
                    <th> Zone District</th>
                    <th> Date</th>
                    <th> Code</th>
                    <th> Price</th>
                    <th> Description</th>
                  </tr>
                </thead>
                <tbody class="bg-dark">
      			<% @price_lookups.each do |price_lookup| %>
     			<tr>
     				<td><%= price_lookup.zone_district %></td>
                    <td>
        <a class='<i class="fas fa-plus"></i>'.html_safe href="#" data-toggle="modal" data-target="#price<%= price_lookup.uid %>"><div class="history"><%= price_lookup.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></div></a>
        
        <div class="modal fade" id="price<%= price_lookup.uid %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><div class="container">
      <div class="card-body">
      <table class="table">
        <thead>
          <tr  class="bg-dark">
            <th>Date</th>
            <th>Zone</th>
            <th>Decription</th>
            <th>Price</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
            <% Log.where(uid: price_lookup.uid).order("created_at DESC").map do | r |%>
            <tr class="bg-dark">
              <td scope="row"><%= r.description.split('$')[0].to_s %></td>
              <td><%= r.description.split('$')[1].to_s %></td>
              <td><%= r.description.split('$')[2].to_s %></td>
              <td><%= r.description.split('$')[3].to_s %></td>
              <td><%= r.username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
  </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
        </td>
     				<td><%= price_lookup.magisterial_code %></td>
     				<td><%= price_lookup.product_price %></td>
     				<td><%= price_lookup.product_description %></td>
     			</tr>	
     			<% end %>
                </tbody>
              </table>
              <div class="clearfix">
              <div class="float-left">
                 <%= page_entries_info @price_lookups %>
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @price_lookups, :container => false %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> <!-- end row -->





<script>
var resizefunc = [];
</script>
