<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 m-b-30 header-title"></h4>
               <div class="col-sm-6">
              <%= form_with(model: product_description, local: true) do |form| %>
                  <% if product_description.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(product_description.errors.count, "error") %> prohibited this product_description from being saved:</h2>

                      <ul>
                      <% product_description.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Product</label>
                    <div class="col-9">
                        <%= form.text_field :productdescription_product, class: "form-control", placeholder: "Enter Product", id: "Product", required: :true%></div>
                </div>
                  <%= form.hidden_field :user_id, value: current_user.user_id %>
                <div class="form-group mb-0 justify-content-end row">
                    <div class="col-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        <a onclick="history.back(-1)" href="" class="btn btn-secondary waves-effect waves-light">Cancel</a>
                    </div>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
