  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Payment Terms</div>
      <div class="card-body">
           <%= form_tag(rebate_path, method: "post", class: "form m-b-sm", id: "performance-period-filter-form", remote: false) do %>


            <div class="form-group">
              <%= select_tag "product_pescription_product", options_from_collection_for_select( ProductDescription.all, "ProductDescription_Product", "ProductDescription_Product"),{ class: 'form-control form-control-lg m-t-md selectpicker', include_blank: true, required: "required"}  %>
            </div>


            <div class="form-group">
              <%= text_field_tag 'product_price_price', nil, placeholder: 'Enter product_price_price...' %>
            </div>

            <div class="form-group">
              <%= text_field_tag 'product_rebate', nil, placeholder: 'Enter product_rebate...' %>
            </div>

            <div class="form-group">
              <%= text_field_tag 'net_price', nil, placeholder: 'Enter net_price...' %>
            </div>

            <div class="form-group">
              <%= hidden_field_tag  'user_id', current_user.id, placeholder: 'Enter user id...' %>
            </div>

            <div class="form-group">
            <%= hidden_field_tag  'payment_magistrial_district_id', nil, placeholder: 'Enter user id...' %>
            </div>

            <div class="actions">
            <%= submit_tag 'Submit', class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          
      </div>
    </div>
  </div>