 
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> text-center"><%= value %>
        </div>
      <% end %>

    <div class="wrapper-page">

            <div class="text-center">
                <a  class="logo-lg"><i class="fas fa-cogs"></i><span> OPAX DIGITAL</span> </a>
            </div>

            <%= form_tag login_path, :class => 'form-horizontal m-t-20' do %>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <%= email_field_tag :email, params[:email], class: 'form-control',id: "inputEmail", placeholder: "Email", required: "required",autofocus: "autofocus"  %>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <%= password_field_tag :password,nil, class: 'form-control',id: "inputPassword", placeholder: "Password", required:"required"%>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            <%= check_box_tag :remember, params[:remember], true ,id: "customCheck1", class: "custom-control-input"%>
                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Log In
                        </button>
                    </div>
                </div>
            <% end %>
        </div>

