<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-user-lock"></i> Vendors Purchase Orders
<% if current_user.role != "Basic" %>
<%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_purchase_order_path %>
<% end %>
</h2>
<div><% if @purchases.present? %>Updated at <%= @purchases.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
</div>
<div class="dropdown-divider"></div>
<br>
<script>
var resizefunc = [];
</script>




<div class="row">
<div class="col-md-12">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>

        <ul class="nav nav-tabs tabs-bordered">
        <li class="nav-item">
                <a href="#home1-b1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                    <p class=""><strong>All Purchases </strong> <span class="badge badge-secondary"><%= @purchases.count %></span></p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link">
                <p class=""><strong>Step 1 </strong> <span class="badge badge-secondary"><%= @purchases.where(status: '1').count %></span></p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#profile-b1" data-toggle="tab" aria-expanded="false" class="nav-link ">
                <p class=""><strong>Step 2 </strong> <span class="badge badge-secondary"><%= @purchases.where(status: '2').count %></span></p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#settings-b1" data-toggle="tab" aria-expanded="false" class="nav-link">
                <p class=""><strong>Step 3 </strong> <span class="badge badge-secondary"><%= @purchases.where(status: '4').count %></span></p>
                </a>
            </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane fade show active" id="home1-b1">
            <%= render 'shared/search_form', {controller: "purchase_orders"} %>
            <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                <th colspan="1"></th>
                <th>Order Date</th>
                <th>Internal Reference</th>
                <th>PO Reference</th>
                <th>Zone</th>
                <th>Vendor Name</th>
                <th>Payment Term</th>
                <th>Vendor Reference</th>
                <th>BOL Reference</th>
                </tr>
            </thead>
            <tbody class="">
                <% @purchases.each do |purchase| %>
                <tr>
                <% if purchase.status == '5' %>
                <td><div class="btn btn-success btn-rounded w-md waves-effect waves-light">Completed</div></td>
                <% else %>
                <td>
                <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-rounded w-md dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"> Pending<span class="caret"></span></button>
                        <div class="dropdown-menu">
                        <%= link_to '<i class="fas fa-eye"></i> View'.html_safe, purchase, data: { turbolinks: false },class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, purchase, method: :delete,class: "dropdown-item" %>
                            
                        </div>
                    </div></td>
                <% end %>
                    <td><%= purchase.order_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
                    <td><%= purchase.system__internal_reference %></td>
                    <td><%= purchase.internal_po_reference %></td>
                    <td><%= purchase.zone %></td>
                    <td><%= purchase.vendor_name %></td>
                    <td><%= purchase.vendor_payment %></td> 
                    <td><%= purchase.vendor_reference %></td>
                    <td><%= purchase.bol_reference %></td>

                </tr>
                <% end %>
            </tbody>
              </table>
              <div class="clearfix">
              <div class="float-left">
                 <%= page_entries_info @purchases %>
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @purchases, :container => false %>
                </div>
              </div>
            </div>
            </div>
            <div class="tab-pane fade table-responsive" id="home-b1">
                <%= render 'shared/search_form', {controller: "purchase_orders"} %>
                 <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                <th colspan="1"></th>
                <th>Order Date</th>
                <th>Internal Reference</th>
                <th>PO Reference</th>
                <th>Name</th>
                <th>Payment Term</th>
                <th>Product</th>
                <th>Zone Price</th>
                <th>Net Price</th>
                <th>Order QTY</th>
                <th>Order Value</th>
                </tr>
            </thead>
            <tbody class="">
                <% @purchases.where(status: '1').each do |purchase| %>
                <tr>
                <% if purchase.status == '5' %>
                <td><div class="btn btn-success btn-rounded w-md waves-effect waves-light">Success</div></td>
                <% else %>
                <td><div class="btn-group">
                        <button type="button" class="btn btn-danger btn-rounded dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"> Pending<span class="caret"></span></button>
                        <div class="dropdown-menu">
                        <%= link_to '<i class="fas fa-eye"></i> View'.html_safe, purchase, data: { turbolinks: false },class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                            <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, purchase, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
                            
                        </div>
                    </div></td>
                <% end %>
                    <td><%= purchase.order_date.strftime("%m/%d/%Y %H:%M:%S") %></td>
                    <td><%= purchase.system__internal_reference %></td>
                    <td><%= purchase.internal_po_reference %></td>
                    <td><%= purchase.vendor_name %></td>
                    <td><%= purchase.vendor_payment %></td> 
                    <td><%= purchase.product_pescription_product %></td>
                    <td><%= purchase.product_price_price %></td>
                    <td><%= purchase.net_price %></td>
                    <td><%= purchase.order_qty %></td>
                    <td><%= purchase.order_value %></td>

                </tr>
                <% end %>
            </tbody>
              </table>
              <div class="clearfix">
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @purchases.where(status: '1'), :container => false %>
                </div>
              </div>
            </div> 
            </div>
            <div class="tab-pane " id="profile-b1">
                <%= render 'shared/search_form', {controller: "purchase_orders"} %>
                <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                <th colspan="1"></th>
                <th>Order Date</th>
                <th>Internal Reference</th>
                <th>Vendor Reference</th>
                <th>Vendor Documentation</th>
                </tr>
            </thead>
            <tbody class="">
                <% @purchases.where(status: '2').each do |purchase| %>
                <tr>
                    <td><div class="btn-group">
                        <button type="button" class="btn btn-danger btn-rounded dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"> Pending<span class="caret"></span></button>
                        <div class="dropdown-menu">
                        <%= link_to '<i class="fas fa-eye"></i> View'.html_safe, purchase, data: { turbolinks: false },class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, purchase, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
                            
                        </div>
                    </div>
                    </td>
                    <td><%= purchase.order_date.strftime("%m/%d/%Y %H:%M:%S") %></td>
                    <td><%= purchase.internal_po_reference %></td>
                    <td><%= purchase.vendor_reference %></td>
                    <td><%= purchase.vendor_documentation %></td>
                    
                </tr>
                <% end %>
            </tbody>
              </table>
              <div class="clearfix">
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @purchases.where(status: '2'), :container => false %>
                </div>
              </div>
            </div>
               </div>
            <div class="tab-pane fade" id="settings-b1">
                <table id="responsive-datatable3" class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                  <th>Status</th>
                <th>Order Date</th>
                <th>Internal Reference</th>
                <th>PO Reference</th>
                <th>Pick-Up Date/Time</th>
                <th>Pick-Up QTY</th>
                <th>Pick-Up Value</th>
                <th>BOL Reference</th>
                </tr>
            </thead>
            <tbody class="">
                <% @purchases.where(status: '4').each do |purchase| %>
                <tr>
                 <td><div class="btn-group">
                        <button type="button" class="btn btn-danger btn-rounded dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"> Pending<span class="caret"></span></button>
                        <div class="dropdown-menu">
                        <%= link_to '<i class="fas fa-eye"></i> View'.html_safe, purchase, data: { turbolinks: false },class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, purchase, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
                            
                        </div>
                    </div>
                    </td>
                    <td><%= purchase.order_date.strftime("%m/%d/%Y %H:%M:%S") %></td>
                    <td><%= purchase.system__internal_reference %></td>
                    <td><%= purchase.internal_po_reference %></td>
                    <td><%= purchase.pick_up_date_time %></td>
                    <td><%= purchase.pick_up_qt %></td>
                    <td><%= purchase.pick_up_value %></td>
                    <td><%= purchase.bol_reference %></td>
                </tr>
                <% end %>
            </tbody>
              </table>
                <div class="clearfix">
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @purchases.where(status: '3'), :container => false %>
                </div>
              </div>
            </div>
              </div>
        </div>
    </div>
</div> <!-- end col -->
<script>
$(document).ready(function() {
    // Responsive Datatable
    $('#responsive-datatable').DataTable({
        "scrollX": true
    });
    $('#responsive-datatable2').DataTable({
        "scrollX": true
    });
    
    } );
</script>