          <div class="row">
<div class="col-sm-8">
<h2><i class="fas fa-table"></i> Customer Rabate</h2>
</div>
</div>
<div class="dropdown-divider"></div>
<br>
    <div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 m-b-30 header-title"></h4>
            <div class="col-sm-6">
              <%= form_tag(crebate_path, method: "post", class: "form m-b-sm", remote: false) do %>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Customer</label>
                    <div class="col-9">
                      <%= select_tag "customer_id", options_for_select( [[@customer.customer_name, @customer.id]]),{ class: 'form-control form-control-lg m-t-md selectpicker customer_id', required: "required"}  %> </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-3 col-form-label">Payment</label>
                    <div class="col-9">
                        <%= select_tag "payment_term_id", options_for_select([[@payment_term.paymentterm_description,@payment_term.id]]),{class: 'form-control form-control-lg m-t-md selectpicker', required: "required"}  %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Zone</label>
                    <div class="col-9">
                    <% if params[:zone_id] == 'n'%>
                         <%= select_tag "magistrial_district_id", options_from_collection_for_select( @magisterial_districts, "id", "zonedistrict", params[:zone_id]),{include_blank: true, class: 'form-control form-control-lg m-t-md selectpicker select2 zone_id', required: "required"} %>
                    <% else %>
                    <%= select_tag "magistrial_district_id", options_for_select( [[@magisterial_district.zonedistrict, @magisterial_district.id]]),{class: 'form-control form-control-lg m-t-md selectpicker zone_id', required: "required"} %>
                    <% end %>     
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Product</label>
                    <div class="col-9">
                     <% if params[:product_id] == 'n'%>
                        <%= select_tag "product_discription_id", options_from_collection_for_select( @product_descriptions, "id", "productdescription_product", params[:product_id]),{ class: 'form-control form-control-lg m-t-md selectpicker product_id', include_blank: true, required: "required"}  %>
                    <% else %>
                        <%= select_tag "product_discription_id", options_for_select( [[@product_description.productdescription_product,@product_description.id]]),{ class: 'form-control form-control-lg m-t-md selectpicker product_id'}  %>
                    <% end %>
                    </div>
                </div>
                <% if params[:product_id] != 'n'%>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Product Price</label>
                    <div class="col-9">
                       <%= text_field_tag 'product_price', @product.product_price_price, placeholder: 'Enter product price...', class: "form-control price", readonly: true, required: "required" %></div>
                </div>
                 <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Claw Back Margin</label>
                    <div class="col-9">
                      <%= text_field_tag 'claw_margin', @product.claw_margin, placeholder: 'Enter claw back margin.', class: "form-control claw_margin",required: true %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Rebate</label>
                    <div class="col-9">
                      <%= text_field_tag 'rebate',@product.product_rebate, placeholder: 'Enter rebate...', class: "form-control rebate", required: "required", :autocomplete => :off %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Net Price</label>
                    <div class="col-9">
                      <%= text_field_tag 'net_price', @product.net_price, placeholder: 'Enter net price...', class: "form-control net",readonly: true %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Supplier</label>
                    <div class="col-9">
                      <%#= @selected_product_id.zone %>
                       <%#= select_tag "supplier_id", options_for_select([[@supplier_text, @supplier_value]]),{ class: 'form-control form-control-lg m-t-md selectpicker supplier_id', required: "required"}  %>
                         <%= select_tag "supplier_id", options_from_collection_for_select( @supplier, "product_id", "zone"),{ class: 'form-control form-control-lg m-t-md selectpicker supplier_id select2', include_blank: true}  %>
                       </div>
                </div>
                <% else %>
                 <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Product Price</label>
                    <div class="col-9">
                       <%= text_field_tag 'product_price', nil, placeholder: 'Enter product price...', class: "form-control price", readonly: true, required: "required" %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Claw Back Margin</label>
                    <div class="col-9">
                      <%= text_field_tag 'claw_margin', nil, placeholder: 'Enter claw back margin.', class: "form-control claw_margin",required: true %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Rebate</label>
                    <div class="col-9">
                      <%= text_field_tag 'rebate',nil, placeholder: 'Enter rebate...', class: "form-control rebate", required: "required", :autocomplete => :off %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Net Price</label>
                    <div class="col-9">
                      <%= text_field_tag 'net_price', nil, placeholder: 'Enter net price...', class: "form-control net",readonly: true %></div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Supplier</label>
                    <div class="col-9">
                       <%= select_tag "supplier_id", options_for_select(""),{ class: 'form-control form-control-lg m-t-md selectpicker supplier_id select2', include_blank: true, required: "required"}  %>
                       </div>
                </div>
                <% end %>
                  <%= hidden_field_tag 'product_id', params[:product_id], placeholder: 'Enter puchase price...', class: "form-control",readonly: true %>
                <div class="form-group mb-0 justify-content-end row">
                    <div class="col-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        <a onclick="history.back(-1)" href="" class="btn btn-secondary waves-effect waves-light">Cancel</a>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </div>

</div>


<script>
  $(document).ready(function () {     
    $('.product_id').click(function () {
      var getprice_id = $( ".zone_id" ).val();
      var product_id = $( ".product_id" ).val();

      var link = '/product/' + product_id + '/getprices/'+ getprice_id

      $.getJSON(link, function (data) {
        
        
        if(data.price){
          $(".price").val(data.price);
          var net = $(".price").val() - ((-$( ".claw_margin" ).val()) + (-$( ".rebate" ).val()));

          $(".net").val(net);
           $(".supplier_id option").remove();
           $('.supplier_id').append($('<option>', { 
                value: '',
                text : ''
            }));

          jQuery.each( data.supplier, function( i, val ) {
            var zone = val.zone +" " + val.distirct
             $('.supplier_id').append($('<option>', { 
                value: val.supplier_id + '/' + val.product_id + "/" + zone,
                text : val.name + " " + " " + val.payment + " " + val.net_price + " " + val.zone +" " + val.distirct

            }));
          });

                    
        }else{
          $(".net").val("");
          $(".rebate").val("");
          $(".price").val("");
          $(".supplier_id option").remove();
        }
      });

    });
  });

   $( ".rebate" ).keyup(function() {
    var p = $( ".price" ).val();
     var net = p - ((-$( ".claw_margin" ).val()) + (-$( ".rebate" ).val()));
    if(p){
    if(claw_margin){
        $(".net").val(net);
      }else{
        $(".net").val(net);
      }
    }
  });

  $( ".claw_margin" ).keyup(function() {
    var p = $( ".price" ).val();
    var rebate = $( ".rebate" ).val();
    var net = p - ((-$( ".claw_margin" ).val()) + (-$( ".rebate" ).val()));
    if(p){
      if(rebate){
        $(".net").val(net);
      }else{
        $(".net").val(net);
      }
    }
  });
</script>