<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-table"></i> Prices
<% if can? :create, ProductPrice %>
<%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_product_price_path, data: { turbolinks: false } %>
<% end %>
</h2>
<div><% if @product_prices.present? %>Updated at <%= @product_prices.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
<% if can? :create, ProductPrice %>
<%= render 'shared/import_form', {controller: "product_prices", action: "import"} %>
<% end %>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
          <%= render 'shared/search_form', {controller: "product_prices"} %>
            <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th>Date</th>
                    <th>Zone</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="bg-dark">
                  <% @product_prices.each do |product_price| %>
      <tr class="bg-dark">
        <td>
        <a class='<i class="fas fa-plus"></i>'.html_safe href="#" data-toggle="modal" data-target="#price<%= product_price.id %>"><div class="history"><%= product_price.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></div></a>
        
        <div class="modal fade" id="price<%= product_price.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><div class="container">
      <div class="card-body">
      <table class="table">
        <thead>
          <tr  class="bg-dark">
            <th>Created</th>
            <th>Price Date</th>
            <th>Zone</th>
            <th>Decription</th>
            <th>Price</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
            <% Log.where(uid: product_price.uid).order("created_at DESC").map do | r |%>
            <tr class="bg-dark">
              
              <td><%= r.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td scope="row"><%= r.description.split('$')[0].to_s %></td>
              <td><%= r.description.split('$')[1].to_s %></td>
              <td><%= r.description.split('$')[2].to_s %></td>
              <td><%= r.description.split('$')[3].to_s %></td>
              <td><%= r.username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
  </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
        </td>
        <td><%= product_price.productprice_zone_class %></td>
        <td><%= product_price.productprice_price %></td>
        <td><%= product_price.productdescription_product %></td>
        <td>
        <div class="btn-group dropdown">
          <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if can? :edit, ProductPrice %>
              <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_product_price_path(product_price),class: "dropdown-item", data: { turbolinks: false } %>
              <% end %>
              <% if can? :create, ProductPrice %>
              <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, product_price, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
              <% end %>
          </div>
      </div>
      </td>
      </tr>
    <% end %>
                </tbody>
              </table>
              <div class="clearfix">
              <div class="float-left">
                 <%= page_entries_info @product_prices %>
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @product_prices, :container => false %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> <!-- end row -->





<script>
// Add the following code if you want the name of the file appear on select


$(document).ready(function() {
// Responsive Datatable
$('#responsive-datatable').DataTable();

} );

</script>

<script type="text/javascript">

    $('.timepout').click(function () {
       var imgVal = $('.custom-file-input').val(); 
      if (imgVal != ''){
       toastr.warning("","Please refresh after few minutes.");
      setTimeout(function() {

        location.reload(true);

      }, 10000);}
});
    

</script>
