<p id="notice"><%= notice %></p>

<p>
  <strong>Productprice month id:</strong>
  <%= @product_price.ProductPrice_Month_Id %>
</p>

<p>
  <strong>Productprice zone class:</strong>
  <%= @product_price.ProductPrice_Zone_Class %>
</p>

<p>
  <strong>Productprice price:</strong>
  <%= @product_price.ProductPrice_Price %>
</p>
<p>
  <strong>Magisterial district:</strong>
  <%= @product_price.created_at %>
</p>

<p>
  <strong>Product Last Updated:</strong>
  <%= @product_price.updated_at %>
</p>



<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header bg-dark">Product Price
        <%= link_to '<i class="fa fa-window-close" aria-hidden="true"></i>'.html_safe, product_prices_path, class: "close"  %>
      </div>
      <div class="card-body bg-dark">

  <div class="form-group">
    <div class="form-label-group">
      <strong>Productprice month id:</strong>
      <%= @product_price.ProductPrice_Month_Id %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label-group">
      <strong>Productprice zone class:</strong>
  <%= @product_price.ProductPrice_Zone_Class %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label-group">
      <strong>Productprice price:</strong>
  <%= @product_price.ProductPrice_Price %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label-group">
       <strong>Magisterial district:</strong>
  <%= @product_price.created_at %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label-group">
      <strong>Product Last Updated:</strong>
  <%= @product_price.updated_at %>
    </div>
  </div>    
  <%= link_to 'Edit', edit_product_price_path(@product_price) %> |
<%= link_to 'Back', product_prices_path %>      
      </div>
    </div>
  </div>


