<div class="row">
    <div class="col-md-6">
        <div class="card-box">
            <h4 class="m-t-0 m-b-30 header-title"></h4>
            <%= form_for([@site, @tank]) do |form| %>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Tank Number</label>
                    <div class="col-9">
                       <%= form.text_field :tank_number, class: "form-control", placeholder: "Enter Tank Number", id: "tank_number",required: :true%>
                    </div>
                    </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-3 col-form-label">Stock In</label>
                    <div class="col-9">
                        <%= form.text_field :stock_in, class: "form-control", placeholder: "Enter Stock In", id: "stock_in"%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Stock Out</label>
                    <div class="col-9">
                       <%= form.text_field :stock_out, class: "form-control", placeholder: "Enter Stock Out", id: "stock_out"%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Current Stock</label>
                    <div class="col-9">
                       <%= form.text_field :current_stock, class: "form-control", placeholder: "Enter Current Stock", id: "current_stock"%>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Product</label>
                    <div class="col-9">
                      <% if controller.action_name == "edit" %>
                        <%= select_tag "product_description_id", options_from_collection_for_select(ProductDescription.where(user_id: current_user.user_id), "id", "productdescription_product", @tank.product_description_id),{ class: 'form-control form-control-lg m-t-md selectpicker product_id select2 select2-multiple', include_blank: true, required: "required"}  %>
                        <% else %>
                        <%= select_tag "product_description_id", options_from_collection_for_select(ProductDescription.where(user_id: current_user.user_id), "id", "productdescription_product"),{ class: 'form-control form-control-lg m-t-md selectpicker product_id select2 select2-multiple', include_blank: true, required: "required"}  %>
                      <% end %>
                    </div>
                </div>
                  <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Tank Size</label>
                    <div class="col-9">
                       <%= form.text_field :tank_volume, class: "form-control", placeholder: "Enter Tank Size", id: "tank_size"%>
                    </div>
                </div>
                
                  <%= form.hidden_field :user_id, value: current_user.user_id %>
                <div class="form-group mb-0 justify-content-end row">
                    <div class="col-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        <a onclick="history.back(-1)" href="" class="btn btn-secondary waves-effect waves-light">Cancel</a>
                    </div>
                </div>
            <% end %>
            </div>
    </div>
</div>