
      <div class="row">
<div class="col-md-6">
<h2><i class="fas fa-table"></i> Users
<% if can? :create, User %>
<%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_user_path, data: { turbolinks: false } %>
<% end %>
</h2>
<div><% if @users.present? %>Updated at <%= @users.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table id="responsive-datatable" class="table table-hover table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                   <th>Name</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="bg-dark">
                   <% @users.each do |user| %>
      <tr class="bg-dark">
             <td><%= user.name %></td>
              <td><%= user.address %></td>
              <td><%= user.contact %></td>
              <td><%= user.email %></td>
        <td>
        <div class="btn-group dropdown">
          <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
              <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_user_path(user),class: "dropdown-item" %>
              <% if can? :destroy, user %>
              <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
              <% end %>
          </div>
      </div>
      </td>
      </tr>
    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end row -->