<h2><i class="fas fa-users"></i> Customer</h2>
<p id="notice"><%= notice %></p>
<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>Customer contact:</strong>
  <%= @customer.customer_contact %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>
<ul>
      <% @customer.customer_payment_terms.each do |payment_term| %>
      <li>
        <% if can? :create, CPayMProductPrice %>
        <%= link_to '<i class="fas fa-plus"></i>'.html_safe, cutomer_payment_zone_product_cust_rabate_path(@customer.id,payment_term.payment_term_id,'n','n','n'), data: { turbolinks: false } %>
        <% end %>
        <a href="#payment<%= payment_term.id %>" data-toggle="collapse"> | <%= payment_term.payment_term_description %></a>
          <ul>
           <% payment_term.c_pay_m_districts.each do |magistrial_district| %>
            <li>
              <% if can? :create, CPayMProductPrice %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, remove_customer_zone_path(magistrial_district.id), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to '<i class="fas fa-plus"></i>'.html_safe, cutomer_payment_zone_product_cust_rabate_path(@customer.id,payment_term.payment_term_id,magistrial_district.magisterial_district_id,'n','n'), data: { turbolinks: false } %>
              <% end %>
              <a href="#price1<%= magistrial_district.id %>" class="" data-toggle="collapse"> | </i> <%= magistrial_district.magisterialdistrict_zone %>
              <%= magistrial_district.magisterialdistrict_district %></a>
                <ul class="col-md-12">
                   <li >
                    <div class="table-responsive">
                    <table class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Rebate</th>
                    <th>Net Price</th>
                    <th>Supplier</th>
                    <th>Supplier Rebate</th>
                    <th>Gross Margin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% magistrial_district.c_pay_m_product_prices.each do |product_price| %>
                    <tr class="bg-dark">
                       
                <td><%= product_price.product_pescription_product %>
                  </td>
                      
                    </td>
                    <td>
                      <a class='<i class="fas fa-plus"></i> history'.html_safe href="#" data-toggle="modal" data-target="#price12<%= product_price.id %>"><div class="history"><%= product_price.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></div></a>
                    </td>
                    <td>
                      <%= product_price.product_price_price %>
                    </td>
                    <td>
                      <%= product_price.product_rebate %>
                    </td>
                    <td>
                      <%= product_price.net_price %>
                    </td>
                    <td>
                      <%= product_price.s_name %>
                    </td>
                    <td>
                      <%= product_price.s_net_price %>
                    </td>
                    <td>
                      <%= product_price.gross_price %>
                    </td>

                    
                  </tr>
                   <% end %>
                  </tbody>
                  </table>
                </div>
                  </li>
                </ul> 
              </li>
              <% end %>
            </ul>   
          </li>
        <% end %>  
      </ul>