<h2><i class="fas fa-users"></i> Customer</h2>
<p id="notice"><%= notice %></p>
<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>Customer contact:</strong>
  <%= @customer.customer_contact %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>
