<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-table"></i> Zones
<% if can? :create, MagisterialDistrict %>
<%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_magisterial_district_path, data: { turbolinks: false } %>
<% end %>
</h2>
<div><% if @magisterial_districts.present? %>Updated at <%= @magisterial_districts.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
<% if can? :create, MagisterialDistrict %>
<%= render 'shared/import_form', {controller: "magisterial_districts", action: "import"} %>
<% end %>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">

    <div class="col-12">
        <div class="card-box table-responsive">
          <%= render 'shared/search_form', {controller: "magisterial_districts"} %>
            <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" cellspacing="0" id="tickets-table">
                <thead>
                <tr>
                  
                    <th>Zone</th>
                    <th>Date</th>
                    <th>District</th>
                    <th>Code</th>
                    <th>Province</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="bg-dark">
                  <% @magisterial_districts.each do |magisterial_district| %>
                  <tr class="bg-dark">
                    <td><%= link_to magisterial_district.magisterialdistrict_zone, magisterial_district %></td>
                    <td>
                    <a class='<i class="fas fa-plus"></i>'.html_safe href="#" data-toggle="modal" data-target="#mag<%= magisterial_district.id %>"><div class="history"><%= magisterial_district.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></div></a>
        
        <div class="modal fade" id="mag<%= magisterial_district.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">History</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><div class="container">
      <div class="card-body">
      <table class="table">
        <thead>
          <tr  class="bg-dark">
            <th>Created Date</th>
            <th>Zone</th>
            <th>District</th>
            <th>Code</th>
            <th>Province</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
            <% Log.where(uid: magisterial_district.uid).order("created_at DESC").map do | r |%>
            <tr class="bg-dark">
              <td><%= r.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= r.description.split('$')[1].to_s %></td>
              <td><%= r.description.split('$')[2].to_s %></td>
              <td><%= r.description.split('$')[3].to_s %></td>
              <td><%= r.description.split('$')[4].to_s %></td>
              <td><%= r.username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
  </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
                    </td>
                    <td><%= magisterial_district.magisterialdistrict_district %></td>
                    <td><%= magisterial_district.magisterialdistrict_code %></td>
                    <td><%= magisterial_district.magisterialdistrict_province %></td>
                    <td>
        <div class="btn-group dropdown">
          <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if can? :edit, MagisterialDistrict %>
              <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_magisterial_district_path(magisterial_district),class: "dropdown-item", data: { turbolinks: false } %>
              <% end %>
              <% if can? :create, MagisterialDistrict %>
              <%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe, magisterial_district, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
              <% end %>
          </div>
      </div>
      </td>
                  </tr>
                <% end %>
                </tbody>
            </table>
             <div class="clearfix">
              <div class="float-left">
                 <%= page_entries_info @magisterial_districts %>
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @magisterial_districts, :container => false %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> <!-- end row -->
