<p id="notice"><%= notice %></p>

<p>
  <strong>Magisterialdistrict zone:</strong>
  <%= @magisterial_district.MagisterialDistrict_Zone %>
</p>

<p>
  <strong>Magisterialdistrict district:</strong>
  <%= @magisterial_district.MagisterialDistrict_District %>
</p>

<p>
  <strong>Magisterialdistrict code:</strong>
  <%= @magisterial_district.MagisterialDistrict_Code %>
</p>

<p>
  <strong>Magisterialdistrict province:</strong>
  <%= @magisterial_district.MagisterialDistrict_Province %>
</p>

<%= link_to 'Edit', edit_magisterial_district_path(@magisterial_district) %> |
<%= link_to 'Back', magisterial_districts_path %>
