<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-charging-station"></i> Dashboard
</h2>
</div>
</div>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">
<div class="col-xl-3 col-md-6">
    <div class="card-box">
        <div class="float-left" dir="ltr">
            <p class="data-attributes">
  				<span data-peity='{ "fill": ["#1abc9c", "#708192"], "innerRadius": 20, "radius": 25 }'><%= @suppliers.count %>/10</span>
			</p>
        </div>
        <div class="text-right">
            <h3 class="mb-1"> <%= @suppliers.count %> </h3>
            <p class="text-muted mb-1">New Suppliers</p>
        </div>
    </div>
</div><!-- end col -->

<div class="col-xl-3 col-md-6">
    <div class="card-box">
        <div class="float-left" dir="ltr">
            <p class="data-attributes">
  				<span data-peity='{ "fill": ["#3bafda", "#708192"], "innerRadius": 20, "radius": 25 }'><%= @customers.count %>/10</span>
			</p>
        </div>
        <div class="text-right">
            <h3 class="mb-1"> <%= @customers.count %> </h3>
            <p class="text-muted mb-1">New Customers</p>
        </div>
    </div>
</div><!-- end col -->

<div class="col-xl-3 col-md-6">
    <div class="card-box">
        <div class="float-left" dir="ltr">
            <p class="data-attributes">
  				<span data-peity='{ "fill": ["#f672a7", "#708192"], "innerRadius": 20, "radius": 25 }'>5/7</span>
			</p>
        </div>
        <div class="text-right">
            <h3 class="mb-1"> <%= @purchases.count %> </h3>
            <p class="text-muted mb-1">Purchase Orders</p>
        </div>
    </div>
</div><!-- end col -->

<div class="col-xl-3 col-md-6">
    <div class="card-box">
        <div class="float-left" dir="ltr">
            <p class="data-attributes">
  				<span data-peity='{ "fill": ["#ff9933", "#708192"], "innerRadius": 20, "radius": 25 }'>5/7</span>
			</p>
        </div>
        <div class="text-right">
            <h3 class="mb-1"> <%= @sales.count %> </h3>
            <p class="text-muted mb-1">Sales Orders</p>
        </div>
    </div>
</div><!-- end col -->

</div>
<!-- end row -->
<br>

<div class="row">
    <div class="col">
        <div class="card-box">
            <h4 class="header-title">Total Revenue / Total Cost</h4>

            <div class="mt-3 text-center">
                <p class="text-muted font-15 font-family-secondary mb-0">
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-success"></i> Desktop</span>
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Laptop</span>
                </p>

                 <div id="main" style="width: 55em;height:30em;color:white;"></div>

                <div class="row mt-3">
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                        <h4> R56,214</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                        <h4><i class="fas fa-arrow-up text-success"></i> R840</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                        <h4><i class="fas fa-arrow-down text-danger"></i> R7,845</h4>
                    </div>
                </div>
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
    <br>
    <div class="col">
        <div class="card-box">
            <h4 class="header-title">Yearly Sales Report</h4>
            <div class="mt-3 text-center">
                <p class="text-muted font-15 font-family-secondary mb-0">
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Revenue</span>
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-muted"></i> Number of Sales</span>
                </p>

                <div id="doughnut" style="width: 15em;height:28.5em;"></div>

                <div class="row mt-3">
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                        <h4>R8712</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                        <h4><i class="fas fa-arrow-up text-success"></i> R523</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                        <h4><i class="fas fa-arrow-down text-danger"></i> R965</h4>
                    </div>
                </div>

            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
    <br>
    <div class="col">
        <div class="card-box">
            <h4 class="header-title">Weekly Sales Report</h4>
            <div class="mt-3 text-center">
                <p class="text-muted font-15 font-family-secondary mb-0">
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-success"></i> Direct</span>
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Affilliate</span>
                    <span class="mx-2"><i class="mdi mdi-checkbox-blank-circle text-muted"></i> Sponsored</span>
                </p>

                <div id="pie" style="width: 10em;height:28.5em;"></div>

                <div class="row mt-3">
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                        <h4> R12,365</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                        <h4><i class="fas fa-arrow-down text-danger"></i> R365</h4>
                    </div>
                    <div class="col-4">
                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                        <h4><i class="fas fa-arrow-up text-success"></i> R8,501</h4>
                    </div>
                </div>

            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->

</div>
<!-- end row -->
<br>
<div class="row">
    <div class="col-xl-4">
        <div class="card-box">
            <div class="dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Download</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                </div>
            </div>
            <h4 class="header-title">Earning Reports</h4>
            <p class="text-muted">1 Mar - 31 Mar Showing Data</p>
            <h2 class="mb-4"><i class="mdi mdi-currency-usd text-primary"></i>25,632.78</h2>

            <div id="earnings" style="width: 15em;height:28.5em;"></div>

            <div class="row mb-4">
                <div class="col-6">
                    <p class="text-muted mb-1">This Month</p>
                    <h3 class="mt-0 font-20">R120,254 <small class="badge badge-light-success font-13">+15%</small></h3>
                </div>

                <div class="col-6">
                    <p class="text-muted mb-1">Last Month</p>
                    <h3 class="mt-0 font-20">R98,741 <small class="badge badge-light-danger font-13">-5%</small></h3>
                </div>
            </div>

            <h5 class="font-16"><i class="mdi mdi-chart-donut text-primary"></i> Weekly Earning Report</h5>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
    <div class="col-xl-8">
        <div class="card-box">
            <div class="dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Download</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Upload</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                </div>
            </div>
            <h4 class="header-title mb-3">Price History</h4>

            <div class="table-responsive">
            	<%= render 'shared/search_form', {controller: "product_prices"} %>
                <table class="table table-borderless table-hover table-centered m-0">
                    <thead class="thead-light">
                        <tr>
	                        <th>Date</th>
	                		<th>Zone</th>
	                		<th>Price</th>
	                		<th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% @product_prices.each do |product_price| %>
				    	<tr class="bg-dark">
				        <td><%= product_price.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
				        <td><%= product_price.productprice_zone_class %></td>
				        <td><%= product_price.productprice_price %></td>
				        <td><%= product_price.productdescription_product %></td>
				   		</tr>
			   		<% end %>
                    </tbody>
                </table>
                <div class="clearfix">
              <div class="float-left">
                 
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @product_prices, :container => false %>
                </div>
              </div>
            </div>
            </div> <!-- end .table-responsive-->
        </div> <!-- end card-box-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<%= raw @a.to_html %>

<script type="text/javascript">
	$(".data-attributes span").peity("donut")
</script>

<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main'));

    // specify chart configuration item and data
    option = {
    tooltip : {
        trigger: 'axis'
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    legend: {
        data:['Suppliers','Customers','Purchases']
    },
    xAxis : [
        {
            type : 'category',
            data : ['1','2','3','4','5','6','7','8','9','10','11','12']
        }
    ],
    yAxis : [
        {
            type : 'value',
            name : 'TR',
            axisLabel : {
                formatter: '{value}'
            }
        },
        {
            type : 'value',
            name : 'TC',
            axisLabel : {
                formatter: '{value}'
            }
        }
    ],
    series : [

        {
            name:'Suppliers',
            type:'line',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
        },
        {
            name:'Customers',
            type:'bar',
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
        },
        {
            name:'Purchases',
            type:'bar',
            yAxisIndex: 1,
            data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
        }
    ]
};
                    

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>

<script type="text/javascript">
	    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('doughnut'));

    // specify chart configuration item and data
option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'center',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : ['50%', '70%'],
            itemStyle : {
                normal : {
                    label : {
                        show : false
                    },
                    labelLine : {
                        show : false
                    }
                },
                emphasis : {
                    label : {
                        show : true,
                        position : 'center',
                        textStyle : {
                            fontSize : '30',
                            fontWeight : 'bold'
                        }
                    }
                }
            },
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ]
        }
    ]
};
         
    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>


<script type="text/javascript">
	    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('pie'));

    // specify chart configuration item and data
option = {
    title : {
        text: '某站点用户访问来源',
        subtext: '纯属虚构',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ]
        }
    ]
};
                    
         
    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>

<script type="text/javascript">
	    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('earnings'));

    // specify chart configuration item and data
option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'center',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : ['50%', '70%'],
            itemStyle : {
                normal : {
                    label : {
                        show : false
                    },
                    labelLine : {
                        show : false
                    }
                },
                emphasis : {
                    label : {
                        show : true,
                        position : 'center',
                        textStyle : {
                            fontSize : '30',
                            fontWeight : 'bold'
                        }
                    }
                }
            },
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ]
        }
    ]
};
         
    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>