<h2><i class="fas fa-user"></i> Vendor</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Supplier address:</strong>
  <%= @supplier.Supplier_Address %>
</p>

<p>
  <strong>Supplier contact:</strong>
  <%= @supplier.Supplier_Contact %>
</p>

<p>
  <strong>Supplier email:</strong>
  <%= @supplier.Supplier_Email %>
</p>
