<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-user-lock"></i> Customer Sales Orders
 <% if can? :create, SalesOrder %>
<%= link_to '<i class="fas fa-plus-square"></i>'.html_safe, new_sales_order_path %>
<% end %>
</h2>
<div><% if @sales.present? %>Updated at <%= @sales.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") %><% end %></div>
</div>
</div>
<div class="dropdown-divider"></div>
<br>
<script>
var resizefunc = [];
</script>

<div class="row">
<div class="col-md-12">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30"></h4>

        <ul class="nav nav-tabs tabs-bordered table-responsive">
        <li class="nav-item">
                <a href="#home1-b1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                    <p class=""><strong>All Sales </strong> <span class="badge badge-secondary"><%= @sales.count %></span></p>
                </a>
            </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane fade show active" id="home1-b1">
            
            <div class="row">
              <div class="col-12">
                <%= render 'shared/search_form', {controller: "sales_orders"} %>
              </div>
              <div class="col-12 table-responsive">
            <table class="table table-bordered table-bordered dt-responsive nowrap " cellspacing="0" width="100%">
              <thead>
                <tr>
                <th>Status</th>
                <th>Order Date</th>
                <th>Customer Name</th>
                <th>Payment</th>
                <th>Zone Location</th>
                <th>Product Ordered</th>
                <th>Ordered Quantity</th>
                <th>Purchase Price</th>
                <th>Ordered Value</th>
                <th>Order Delivery Date</th>
                <th>Delivered Quantity</th>
                <th>Delivery Price</th>
                <th>Delivered Value</th>
                <th>Delivery Note</th>
                <th>Invoiced</th>
                <th>Recon Status</th>
                <th>Action</th>
                </tr> 
            </thead>
            <tbody class="">
            <% @sales.each do |sale| %>
              <tr>
              <% if sale.status == '3' %>
              <td><div class="btn btn-success btn-rounded w-md waves-effect waves-light">Completed</div></td>
              <% else %>
                  <td><div class="btn btn-danger btn-rounded w-md waves-effect waves-light">Pending</div>
              </td>
              <% end %>
              <td><%= sale.order_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= sale.customer_name %></td>
              <td><%= sale.payment %></td>
              <td><%= sale.zone %></td>
              <td><%= sale.product_name %></td>
              <td><%= sale.order_quantity %></td>
              <td><%= sale.order_rate %></td>
              <td><%= sale.order_value %></td>
              <td><%= sale.estimated_delivery_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td><%= sale.delivery_quantity %></td>
              <td><%= sale.delivery_price %></td>
              <td><%= sale.delivery_value %></td>
              <td><%= sale.delivery_note %></td>
              <td><%= sale.invoice %></td>
              <td><%= sale.recon %></td>
              <td>
                <div class="btn-group dropdown">
                  <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <% if can? :read, SalesOrder %>
                      <%= link_to '<i class="fas fa-eye"></i> Edit Order'.html_safe, edit_sales_order_path(sale.id),class: "dropdown-item", data: { turbolinks: false } %>
                      <%= link_to '<i class="fas fa-eye"></i> Edit Product'.html_safe, pick_up_path(sale.id),class: "dropdown-item", data: { turbolinks: false } %>
                      <% end %>
                      <% if can? :create, SalesOrder %>
                      <%= link_to '<i class="fas fa-trash-alt"></i> Delete Order'.html_safe, sale, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %>
                      <% end %>
                  </div>
              </div>
              </td>
            </tr>
            <% end %>
            </tbody>
            </table>
          </div>
          </div>
            <div class="clearfix">
              <div class="float-left">
                 <%= page_entries_info @sales %>
              </div>
              <div class="float-right">
                <div class="flickr_pagination">
                  <%= will_paginate @sales, :container => false %>
                </div>
              </div>
            </div> 
          </div>
        </div>
    </div>
</div> <!-- end col -->

<script>
$(document).ready(function() {
    // Responsive Datatable
    $('#responsive-datatable').({
        "scrollX": true
    });
    $('#responsive-datatable2').DataTable({
        "scrollX": true
    });
    
    } );
</script>