
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="m-t-0 m-b-30 header-title">New Sales Order</h4>
            <div class="row">
                <div class="col-sm-12 col-md-12">
            <%= form_with(model: @sales_order, local: true) do |f| %>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Order Date</label>
                    <div class="col-9">
                        <%= f.date_field :order_date, value: DateTime.now.strftime("%Y-%m-%d"), class: "form-control order_value", readonly: true%>
                      </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Customer</label>
                    <div class="col-9">
                       <%= f.collection_select :customer_id,  @customers.order(:customer_name), :id, :customer_name, {include_blank: true}, {class: "form-control form-control-lg m-t-md selectpicker customer", required: "required"} %>
                    </div>
                </div>
                <%= f.hidden_field :user_id, value: current_user.user_id %>
                <%= f.hidden_field :sales_user_id, value: current_user.id %>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-3 col-form-label">Payment</label>
                    <div class="col-9">
                        <%= f.select :payment_id, options_for_select("yes"), { include_blank: true}, { :class => 'form-control form-control-lg m-t-md selectpicker payment', required: "required" } %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword5" class="col-3 col-form-label">Zone</label>
                    <div class="col-9">
                        <%= f.select :zone_id, options_for_select("yes"), {include_blank: true}, { :class => 'form-control form-control-lg m-t-md selectpicker zone' } %>
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="inputEmail3" class="col-3 col-form-label">Delivery Date</label>
                    <div class="col-9">
                        <%= f.date_field :delivery_date_on_delivery, value: DateTime.now.strftime("%Y-%m-%d"), class: "form-control delivery_date_on_delivery", required: true%>
                      </div>
                </div>
                <table class='table'>
                  <thead>
                    <tr>
                      <th colspan="1"></th>
                      <th>Product</th>
                      <th>Purchase Price</th>
                      <th>Order Qty</th>
                      <th>Order Value</th>
                    </tr>
                  </thead>
                  <tbody class='fields'>
                    <%= f.fields_for :sales_order_products do |builder| %>
                      <%= render 'sales_order_product', f: builder %>
                    <% end %>
                  </tbody>
                   <tfoot>
                        <tr>
                                                <td colspan="1"></td>
                        <td> <%= link_to_add_row('Add Product', f, :sales_order_products, class: 'btn btn-primary waves-effect waves-light add_product') %></td>

                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form-group mb-0 justify-content-end row">
                    <div class="loat-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        <a onclick="history.back(-1)" href="" class="btn btn-secondary waves-effect waves-light">Cancel</a>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                
                </div>
                </div>
            <% end %>
        </div>
    </div>

</div>


 <script>

  $(function(){
  $(document).ready(function(){
    $(document).on('click', '.customer', function(){
      var product_id = $( ".customer" ).val();
      var link = '/customer_payment/' + product_id

      $.getJSON(link, function (data) {
        
        
        if(data.payments){
          
          jQuery.each( data.payments, function( i, val ) {
             $('.payment').append($('<option>', { 
                value: val.id,
                text : val.payment_term_description
            }));
          });

                    
        }else{
          $(".net").val("");
          $(".rebate").val("");
          $(".price").val(data.price);
          $(".supplier_id option").remove();
        }
      });
    });
  });
});


    $(document).ready(function () {     
    $('.payment').click(function () {
      var zone_id = $( ".payment" ).val();
      var link = '/customer_zone/' + zone_id

      $.getJSON(link, function (data) {
        
        
        if(data.zones){
          
          jQuery.each( data.zones, function( i, val ) {
             $('.zone').append($('<option>', { 
                value: val.id,
                text : val.magisterialdistrict_zone + " " + val.magisterialdistrict_district
            }));
          });

                    
        }else{
          $(".net").val("");
          $(".rebate").val("");
          $(".price").val(data.price);
          $(".supplier_id option").remove();
        }
      });

    });
  });

   $(document).ready(function () {     
    $('.zone').click(function () {
      var product_id = $( ".zone" ).val();
      var link = '/customer_product_name/' + product_id

      $.getJSON(link, function (data) {
        
        
        if(data.products){
          
          jQuery.each( data.products, function( i, val ) {
             $('.product').append($('<option>', { 
                value: val.id,
                text : val.product_pescription_product
            }));
          });

                    
        }else{
          $(".net").val("");
          $(".rebate").val("");
          $(".price").val(data.price);
          $(".supplier_id option").remove();
        }
      });

    });
  });


$(function(){
	$(document).ready(function(){
    $(document).on('click', '.fields .product', function(){
      var id = $(this).attr('id').split('_')[6];
      var product_id = $( '#sales_order_sales_order_products_attributes_' + id + '_product_id' ).val();
      var link = '/customer_product_price/' + product_id

      $.getJSON(link, function (data) {
        
        
        if(data.products){
        $('#sales_order_sales_order_products_attributes_' + id + '_order_rate').val(data.products.product_price_price);
        $('#sales_order_sales_order_products_attributes_' + id + '_product_name').val(data.products.product_pescription_product); 
        $('#sales_order_sales_order_products_attributes_' + id + '_purchase_price').val(data.products.net_price);          
        }else{
          $("net").val("");
          $("rebate").val("");
          $("price").val(data.price);
          $("supplier_id option").remove();
        }
      });

          
		});
	});
});

$(function(){
	$(document).ready(function(){
    $(document).on('click', '.add_product', function(){
      var product_id = $( ".zone" ).val();
      var link = '/customer_product_name/' + product_id

      $.getJSON(link, function (data) {
        
        
        if(data.products){
          
          jQuery.each( data.products, function( i, val ) {
             $('.fields select:last').append($('<option>', { 
                value: val.id,
                text : val.product_pescription_product
            }));
          });

                    
        }else{
          $(".net").val("");
          $(".rebate").val("");
          $(".price").val(data.price);
          $(".supplier_id option").remove();
        }
      });
		});
	});
});

$(function(){
	$(document).ready(function(){
    $(document).on('keyup', '.fields input:text', function(){
      var id = $(this).attr('id').split('_')[6];
      var p = $( '#sales_order_sales_order_products_attributes_' + id + '_order_rate' ).val();
      var net = p * ($( '#sales_order_sales_order_products_attributes_' + id + '_order_quantity').val())
      $('#sales_order_sales_order_products_attributes_' + id + '_order_value').val(net);
		});
	});
});

</script>

