<div class="row">
<div class="col-md-6">
<h2><i class="fas fa-user-lock"></i> Customer Sale Order</h2>
</div>
</div>
<div class="dropdown-divider"></div>
<br>

<div class="row">
  <div class="col-sm-12">
    <div class="clearfix">
    <div class="float-left">
     <h3 class="text-center btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5 float-right">Pending</h3>
    </div>
    <div class="float-right">
     <h3 class="text-right btn btn-success btn-rounded w-md waves-effect waves-light m-b-5 float-right">Completed</h3>
    </div>
    </div>
    <br>
    
    <div class="timeline">
    <article class="timeline-item alt">
     <div class="text-right">
        <div class="time-show first">
         <a href="#" class="btn btn-primary w-lg">Status</a>
        </div>
     </div>
    </article>

    <article class="timeline-item ">
     <div class="timeline-desk">
        <div class="panel">
        <div class="panel-body">
        <span class="arrow"></span>
        <span class="timeline-icon"></span>
        <div class="row">
        <div class="col-12">
        <div class="card-box">
         <div class="panel-body">
            <div class="clearfix">
            <div class="float-left">
             <h3 class="text-right"><i class="mdi mdi-radar"></i>Step 01: Purchase Order Details</h3>
            </div>
            <div class="float-right">
             <%= link_to 'Edit', edit_sales_order_path(@sales_order), data: { turbolinks: false },class: "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5 float-right" %>
            </div>
            </div>
            <hr>
                <div class="row">
                <div class="col-12">
                <div class="float-left m-t-30">
                <p><strong>Customer Name: </strong>  <%= @sales_order.customer_name %></p>
                <p class="m-t-10"><strong>Order Payment: </strong>  <%= @sales_order.payment %></p>
                <p class="m-t-10"><strong>Zone: </strong>  <%= @sales_order.zone %></p>
                </div>
                <div class="float-right m-t-30">
                <p><strong>Order Date: </strong><%= @sales_order.order_date.strftime("%Y-%m-%d")%></p>
                <p class="m-t-10"><strong>Order Status: </strong> <span class="badge badge-danger">Pending</span></p>
                <p class="m-t-10"><strong>Delivery Date: </strong>  <%= @sales_order.delivery_date_on_delivery %></p>
                </div>
                </div>
                </div>
                <div class="m-h-50"></div>
                <div class="row">
                <div class="col-12">
                <div class="table-responsive">
                <table class="table m-t-30">
                <thead>
                <tr><th>Product Name</th>
                <th>Sale Price</th>
                <th>Order Quantity</th>
                <th>Order Value</th>
                </tr></thead>
                <tbody>
                <% @sales_order.sales_order_products.each do | product | %>
                <tr>
                <td><%= product.product_name%></td>
                <td><%= product.order_rate%></td>
                <td><%= product.order_quantity%></td>
                <td><%= product.order_value%></td>
                </tr>

                <% end %>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                <p class="text-right"><b>Sub-total:</b> 0.00</p>
                <p class="text-right">Discout: 0.0%</p>
                <p class="text-right">VAT: 0.0%</p>
                <hr>
                <h4 class="text-right">R 0.00</h4>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    </article>

    <% if @sales_order.status == '2' %>
      <article class="timeline-item ">
        <div class="timeline-desk">
        <div class="panel">
        <div class="panel-body">
        <span class="arrow"></span>  
    <% else %>
     <article class="timeline-item alt">
    <div class="timeline-desk">
    <div class="panel">
    <div class="panel-body">
    <span class="arrow-alt"></span>
    <% end %>
    <span class="timeline-icon"></span>
        <div class="row">
        <div class="col-12">
        <div class="card-box">
        <div class="panel-body">
        <div class="clearfix">
        <div class="float-left">
        <h3 class="text-right"><i class="mdi mdi-radar"></i>Step 02</h3>
        </div>
        <div class="float-right">
        <%= link_to 'Edit', pick_up_path(@sales_order), data: { turbolinks: false },class: "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5 float-right" %>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-12">
        <div class="float-left m-t-30">
        <p><strong>Delivery Note Reference: </strong>  <%= @sales_order.delivery_note_reference %></p>
        <p class="m-t-10"><strong>Invoice: </strong>  <%= @sales_order.invoice %></p>
        <p class="m-t-10"><strong>Delivery Attachment: </strong>  <%= @sales_order.delivery_attachment %></p>
        </div>
        <div class="float-right m-t-30">
        <p><strong>Order Date: </strong><%= @sales_order.order_date.strftime("%Y-%m-%d")%></p>
        <p class="m-t-10"><strong>Order Status: </strong> <span class="badge badge-danger">Pending</span></p>
        <p class="m-t-10"><strong>Delivery Date: </strong>  <%= @sales_order.delivery_date_on_delivery %></p>
        </div>
        </div>
        </div>
        <div class="m-h-50"></div>
        <div class="row">
        <div class="col-12">
        <div class="table-responsive">
        <table class="table m-t-30">
        <thead>
        <tr><th>Product Name</th>
        <th>Sale Price</th>
        <th>Delivery Quantity</th>
        <th>Delivery Value</th>
        </tr></thead>
        <tbody>
        <% @sales_order.sales_order_products.each do | product | %>
        <tr>
        <td><%= product.product_name%></td>
        <td><%= product.order_rate%></td>
        <td><%= product.delivery_quantity%></td>
        <td><%= product.delivery_value%></td>
        </tr>
        <% end %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
        <p class="text-right"><b>Sub-total:</b> 0.00</p>
        <p class="text-right">Discout: 0.0%</p>
        <p class="text-right">VAT: 0.0%</p>
        <hr>
        <h4 class="text-right">R 0.00</h4>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
     </div>
    </article>

    <% if @sales_order.status == '4' %>
      <article class="timeline-item ">
        <div class="timeline-desk">
        <div class="panel">
        <div class="panel-body">
        <span class="arrow"></span>  
    <% else %>
        <article class="timeline-item alt">
        <div class="timeline-desk">
        <div class="panel">
        <div class="panel-body">
        <span class="arrow-alt"></span>
    <% end %>
        <span class="timeline-icon"></span>
            <div class="row">
            <div class="col-12">
            <div class="card-box">
            <!-- <div class="panel-heading">
            <h4>Invoice</h4>
            </div> -->
            <div class="panel-body">
            <div class="clearfix">
            <div class="float-left">
            <h3 class="text-right"><i class="mdi mdi-radar"></i>Step 04: Recon Status</h3>
            </div>
            <div class="float-right">
            <%#= link_to 'Edit', step4_path(@purchase), data: { turbolinks: false },class: "btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5 float-right" %>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-12">
            <div class="float-left m-t-30">
           <p class="m-t-10"><strong>Recon: </strong> <%= @sales_order.recon %><p>
            </div>
            <div class="float-right m-t-30">
            
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        </div>
     </div>
    </article>
</p>
</p>
</div>
</div>
</div>
</article>