<!DOCTYPE html>
<html>
  <head>
    <title>OpaxDigital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">
<% if logged_in? %>
<%= render partial: 'layouts/header' %>
<% end %>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<% if logged_in? %>
<div class="content-page">
<!-- Start content -->
<div class="content">
<div class="container-fluid">
<% end %>
<%= yield %>
<% if logged_in? %>
</div>
<!-- end container -->
</div>
<!-- end content -->
<% if logged_in? %>
<%= render partial: 'layouts/footer' %>
<% end %>
</div>

<% end %>
    </body>
</html>
